<% if notice.present? %>
  <p class="notice bg-green-400"><%= notice %></p>
<% elsif alert.present? %>
  <p class="alert bg-red-400"><%= alert %></p>
<% end %>

<% if flash[:warning].present? %>
  <p class="alert bg-red-400"><%= flash[:warning] %></p>
<% end %>
