<footer>
	<p>
		<span class="footer-text">
			© <%= Date.today.year %>
		</span>
		<span class="footer-text">
			<%= link_to 'YaroslavShop™', "https://github.com/BarryLev/shop", class: 'hover:underline' %>.
		</span>
		<span class="footer-text">
			All Rights Reserved.
		</span>
	</p>
</footer>
