<header>
  <nav>
    <div class="logo">
    <%= inline_svg "cart.svg" %>
    <span class="font-semibold text-xl tracking-tight">Yaroslav Shop</span>
    </div>
    <div class="flex bg-blue-600">
      <% if !user_signed_in? %>
        <div>
          <%= link_to 'Sign in', new_user_session_path, class:'btn-session' %>
        </div>
        <div>
          <%= link_to 'Sign up', new_user_registration_path, class:'btn-registration' %>
        </div>
      <% else %>
        <div>
          <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class:'btn-session' %>
        </div>
      <% end %>
    </div>
  </nav>
</header>
