<table>
  <thead>
    <tr>
      <th scope="col">
        Order details
      </th>
      <th scope="col">
      </th>
    </tr>
  </thead>
  <tr>
    <td scope="row">
      Country
    </td>
    <td>
      <%= details.address.country %>
    </td>
  </tr>
  <tr>
    <td>
      City
    </td>
    <td>
      <%= details.address.city %>
    </td>
  </tr>
  <tr>
    <td>
      Street
    </td>
    <td>
      <%= details.address.street %>
    </td>
  </tr>
  <tr>
    <td>
      Email
    </td>
    <td>
      <%= details.email %>
    </td>
  </tr>
</table>
