<table>
  <thead>
    <tr>
      <th scope="col">
        Product name
      </th>
      <th scope="col">
        <%= product.name %>
      </th>
    </tr>
  </thead>
  <tr>
    <td>
      Product price
    </td>
    <td>
      <%= product.price %>
    </td>
  </tr>
</table>
