<div class="div-table">
  <% if @orders.present? %>  
    <table>
      <thead>
        <tr>
          <th scope="col">
            Ordered at
          </th>
          <th scope="col">
            View order
          </th>
        </tr>
      </thead>
        <% @orders.each do |order| %>
          <%= render'orders/order', order: order %>
        <% end %>
    </table>
  <% else %>
    <p>You have no orders</p>
  <% end %>
</div>
