<div class="div-table flex">
  <div class="border-r-4 border-black">
    <% @order.products.each_with_index do |product, i| %>
      <%= render 'orders/product', product: product, i: i %>
    <% end %>
    <table>
      <thead>
        <tr>
          <th scope="col" class="text-base">
            Total price:
          </th>
          <th scope="col">
            <%= @total_price %>
          </th>
        </tr>
      </thead>
    </table>     
  </div>
  <div>
    <%= render 'orders/order_details', order: @order %>
  </div>
</div>
