<div class="div-table flex">
  <div class="border-r-4 border-black">
    <% @order.products.each do |product| %>
      <%= render 'orders/product', product: product %>
    <% end %>
    <table>
      <thead>
        <tr>
          <th scope="col" class="text-base">
            Total price:
          </th>
          <th scope="col">
            <%= @order.total_price %>
          </th>
        </tr>
      </thead>
    </table>     
  </div>
  <div>
    <%= render 'orders/order_details', details: @order.order_detail %>
  </div>
</div>
