<div class="div-table">
	<% if @products.present? %>
		<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
			<% if user_signed_in? %>
				<p class="user-name"><%= current_user.name %></p>
			<% else %>
				<p class="user-name">Unregistered user</p>
			<% end %>
			<thead class="text-xs">
				<tr>
					<th scope="col" class="px-6 py-3">
						Product name
					</th>
					<th scope="col" class="px-6 py-3">
						Category
					</th>
					<th scope="col" class="px-6 py-3">
						Price
					</th>
						<th scope="col" class="px-6 py-3">
					</th>
				</tr>
			</thead>
			<tbody>
				<% @products.each do |product| %>
					<%= render 'carts/product', product: product %>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<p>Cart has no products, let's discover our shop!</p>
	<% end %>
</div>
