<div class="sticky overflow-x-auto shadow-md mx-5">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <% if current_user %>
        	<h1 class="px-6 py-3 text-5xl text-center dark:bg-gray-600 border-black border-2"><%= current_user.first_name %> <%= current_user.last_name %></h1>
        <% else %>
        	<h1 class="px-6 py-3 text-5xl text-center dark:bg-gray-600 border-black border-2">User name</h1>
        <% end %>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Product name
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                </th>
            </tr>
        </thead>
        <tbody>
            <% @ordered_products.each do |product| %>
                <%= render partial:'layouts/cart_product', locals: { product: product } %>
            <% end %>
        </tbody>
    </table>
    <%= link_to 'Go back', root_path, class:'inline-block text-sm px-4 py-2 mx-1 bg-blue-500 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0' %>
</div>