<li>
  <%= link_to locals[:category].name, get_products_from_category_path(id: locals[:category].id), class:'flex ml-2 items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700' %>
</li>